{% extends "base.html" %}
{% block title %}Model paints: warehouse{% endblock %}
{% block content %}
    <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900 tracking-tighter">Model Paints Database 🎨️</h1>
                <a class="group relative w-full flex justify-center py-2 px-4 mt-3 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                   href="{% url "social:begin" "github" %}">GitHub</a>
                <a class="group relative w-full flex justify-center py-2 px-4 mt-3 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                   href="{% url "social:begin" "google-oauth2" %}">Google</a>
            </div>
        </div>
    </div>
{% endblock %}